@use '../../../../styles/pallete' as plt;
@use '../../../../styles/mixins' as *;

.head-home {
    @include Header;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 100%;
}