@use '../../../../styles/pallete' as plt;
@use '../../../../styles/mixins' as *;

.play-header {
    @include Header;
    width: 80%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 2fr;
    
    .play-header-info {
        width: 100%;
        height: 100%;
        padding-right: 16px;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-end;
    }
}